h2 Location Details
div Longitude {{location.longitude}}
div Latitude {{location.latitude}}
div Is exact? {{location.isExact}}
div Modern Province {{location.modernProvince}}
div Approximate location {{location.approximate}}
div Elevation {{location.elevation}}
