navbar

header#banner.hero-unit
    .container
        h1 Fortifications

.container
    .row
        .col-lg-12
            h1.page-header Known Fortifications:
            ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='fortification in fortifications')
                li
                    a(href='#/api/fortifications/{{fortification._id}}', tooltip='{{fortification.modernProvince}}')
                        | {{fortification.siteName}}

footer
