div(id="video-modal-{{id}}" click-outside="cancel()")
    div.modal-header
        h3.modal-title {{videoController.title}}
    div.modal-body
        div.media
            video(style="width:100%;height:100%;" controls autoplay ng-src="{{videoController.videoSource}}")
    div.modal-footer
        button.btn.btn-primary(type="button" ng-click="videoController.close()") Close
