div.watermark
    div#banner.hero-unit
        .container
            h1 The Norman #[span.title-other-color Sicily] Project
            h2 Envisioning the #[span.subtitle-other-color Norman State] in #[span.subtitle-other-color Southern Italy], c. 1061 - 1194
            hr
