#banner {
}

#banner h1 {
  font-size: 44px;
  line-height: 1;
  letter-spacing: 3.2px;
}

#banner h2 {
  font-size: 20px;
}

.hero-unit {
  color: #4A5868;
  text-align: center;
  font-family: @font-family;
}

