footer.footer {
  font-size: 13px;
  background-color: @sn-light-brown;
  color: @sn-dark-brown;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.link {
  color: @sn-red-brown;
  text-decoration: none;
}

.footer-links a, .footer-links a:link, .footer-links a:visited { .link; }
.footer-links a:hover, .footer-links a:visited:hover, .footer-links a:active { }
.footer-links a:focus { }
