.container
    div.footer-links
        p.
            &copy; 2015 - 2017 by
            #[a(href="mailto:joephayes@gmail.com" target="_top") Joe]
            and #[a(href="mailto:hayesd@montclair.edu" target="_top") Dawn Marie Hayes]

        div(id='license')
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0;padding-bottom:10px" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" rel="dct:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="normansicily.org" property="cc:attributionName" rel="cc:attributionURL">Dawn Marie Hayes, Ph.D. and Joseph Hayes</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
