@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/bootstrap/less/theme.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-family-base: @font-family-serif;
@navbar-default-color: #DE632A;
@navbar-default-link-hover-color: #456E2E;
@navbar-default-link-active-color: #456E2E;

// injector
@import 'about/about.less';
@import 'home/home.less';
@import 'sites/sites-detail.less';
@import 'sites/sites-details-fortification.less';
@import 'sites/sites-details-monastery.less';
@import 'sites/sites-list.less';
@import 'sites/sites.less';
@import '../components/footer/footer.less';
@import '../components/header/header.less';
@import '../components/modal/modal.less';
// endinjector
