navbar

header

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in main.awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}

footer
