navbar

header

.container
    .row
        .col-lg-12
            div.inner
                div.text-center
                    p This project is an effort to document the cultural heritage of Sicily from c. 1060 – 1194, a transformative period in the island's history, by using print, photographic, web and geolocation technologies to identify and explicate dilapidated, at-risk, and/or hard-to-access monuments. The island's castles, monasteries, churches, palaces, bridges, and other monuments will be housed in a NoSQL database that will provide maximum flexibility when storing the data as well as when the information is queried and returned. The website is being designed with a close eye toward usability that will encourage both scholars and students to interact with the interface and learn more about Sicily's Norman past. Each site will have its own discrete page – available via a map or a text search - embedded with pertinent information, including photos and display location on a regional map. The geolocation information will make it possible to travel to the site and there will be versions of the interface available to users of both tablets and mobile phones. This is especially valuable as it is difficult to reach many of these sites as they are often not well signed and at significant elevation. There will also be maps with sliders to show, when possible, the construction of sites over time. An array of interactive visualizations will also enable users to identify trends across time and regions. These will include density charts for monasteries and castles as well as pie charts that offer information about Sicily's religious houses (Roman vs. Greek, monastic order, status, etc.). We are grateful for the financial support this project received from the Angelo and Mary Cali Fund for Italian Studies, an award administrated by the Dean of the #[a(href="http://www.montclair.edu/chss/") College of Humanities and Social Sciences], #[a(href="http://www.montclair.edu/") Montclair State University].
                    p More information about Dr. Hayes' research on medieval Sicily is available on her #[a(href="http://www.thehayesweb.org/dhayes") website].

footer
