navbar

header

.container
    .row
        .col-lg-12
            div.inner
                div.text-center
                    p.
                        This project is an effort to document the cultural
                        heritage of Sicily from c. 1061 – 1194, a transformative
                        period in the island's history, by using print,
                        photographic, web and geolocation technologies to
                        identify and explicate dilapidated, at-risk, and/or
                        hard-to-access monuments. The island's castles,
                        monasteries, churches, palaces, bridges, and other
                        monuments are housed in a NoSQL database that provides
                        maximum flexibility of data storage as well as when
                        information is queried and returned. The website, which
                        is very much under construction, is being developed with
                        a close eye toward usability that encourages both
                        scholars and students to interact with the interface and
                        learn more about Sicily's Norman past. Each site has its
                        own discrete page embedded with pertinent information,
                        including photos and display location on a regional map.
                        The geolocation information makes it possible to travel
                        to the site and ultimately there will be versions of the
                        interface available to users of both tablets and mobile
                        phones. This is especially valuable as it is difficult
                        to reach many of these sites as they are often not well
                        signed and at significant elevation. In time, there will
                        be an array of visualizations available to help make
                        sense of the data. These will include density charts for
                        monasteries and fortifications as well as pie charts
                        that offer information about Sicily's religious houses
                        (Latin vs. Greek, monastic order, status, etc.). We are
                        grateful for the financial support this project has
                        received from the Angelo and Mary Cali Fund for Italian
                        Studies, an award administrated by the Dean of the
                        #[a(href="http://www.montclair.edu/chss/") College of Humanities and Social Sciences],
                        #[a(href="http://www.montclair.edu/") Montclair State University] as well as from the Dean's Office itself.
                    p.
                        More information about Dr. Hayes' research on medieval
                        Sicily is available on her
                        #[a(href="http://www.thehayesweb.org/dhayes") website].
    br
    .row
        .col-lg-12
            div.inner
                div.credits-header Credits
                    p.
                      The banner's watermark is a modified version of
                      Daniele Pugliesi's #[a(href="https://commons.wikimedia.org/wiki/File:Trinacria_wordmark.svg") public domain image].

footer
