h2 Location Details
div Longitude {{site.location.longitude}}
div Latitude {{site.location.latitude}}
div Is exact? {{site.location.isExact}}
div Modern Province {{site.location.modernProvince}}
div Approximate location {{site.location.approximate}}
div Elevation {{site.location.elevation}}
