.container
    .row
        .col-lg-12
            uib-accordion
                uib-accordion-group(ng-repeat='type in sites.sitesByTypes')
                    uib-accordion-heading
                        span(style='text-transform:capitalize')
                            | {{type.length | pluralize:type[0].type}}
                    ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='site in type')
                        li
                            a(ui-sref='sites.detail({id: site._id})', uib-tooltip='{{site.tooltipText}}')
                                | {{site.name.en}}
                                img.pull-right.side-padded(align='middle' ng-show='site.slides && site.slides.length > 0' alt='has photos' ng-src='/assets/images/camera_20x20.png')
                                img.pull-right.side-padded(align='middle' alt='has video' ng-show='site.videos && site.videos.length > 0' ng-src='/assets/images/movie_camera_20x20.png')
                                img.pull-right.side-padded(alt='has documents' align='middle' ng-src='/assets/images/pdf_20x20.png' ng-show='site.documents && site.documents.length > 0')
    .row
        .col-lg-12
            p.center This page is a gateway to data for the fortifications and monastic houses of Norman Sicily. For the former, it draws heavily on the information provided in Ferdinando Maurici's #[em Castelli medievali in Sicilia: dai bizantini ai normanni] (Palermo: Sellerio, 1992) and for the latter, it relies primarily on Lynn White's #[em Latin Monasticism in Norman Sicily] (Cambridge, MA: Medieval Academy of America, 1938).

