.container
    .row
        .col-lg-12
            h1.page-header {{site.name.en}}
            p A {{site.type}} located in {{site.location.modernProvince}}


                site-location(location='site.location')

                table
                    tr(ng-repeat='(key, value) in site.details')
                        td {{key}}
                        td {{value}}


