.row(ng-show='site.siteData.details.classificationAtFoundation')
    div.col-lg-6
        div.site-detail-label Status:
    div.col-lg-6
        div.site-detail-data {{site.siteData.details.classificationAtFoundation}}
.row(ng-show='site.siteData.details.inhabitants.sex')
    div.col-lg-6
        div.site-detail-label Gender:
    div.col-lg-6
        div.site-detail-data {{site.siteData.details.inhabitants.sex}}
.row(ng-show='site.siteData.details.earliestSurvivingRecord')
    div.col-lg-6
        div.site-detail-label Earliest Surviving Record:
    div.col-lg-6
        div.site-detail-data {{site.siteData.details.earliestSurvivingRecord}}
.row(ng-show='site.siteData.details.subjectOfTheDedication')
    div.col-lg-6
        div.site-detail-label Subject of Dedication:
    div.col-lg-6
        div.site-detail-data {{site.siteData.details.subjectOfTheDedication}}
.row(ng-show='site.siteData.details.order')
    div.col-lg-6
        div.site-detail-label Monastic Order:
    div.col-lg-6
        div.site-detail-data {{site.siteData.details.order}}
.row(ng-show='site.siteData.details.founder.name')
    div.col-lg-6
        div.site-detail-label Founder(s):
    div.col-lg-6
        div.site-detail-data {{site.siteData.details.founder.socialPosition === null ? '' : site.siteData.details.founder.socialPosition + ' ' }}{{site.siteData.details.founder.name}}
.row(ng-show='site.siteData.details.motherHouseTo.length > 0')
    div.col-lg-6
        div.site-detail-label Mother House To:
    div.col-lg-6
        div.site-detail-data  #[span(ng-repeat='subjectHouse in site.siteData.motherHouseTo') {{subjectHouse}}{{$last ? '' : ($index===sites.siteData.motherHouseTo.length-2) ? ' and ' : ', '}}]
.row(ng-show='site.siteData.details.subjectOf')
    div.col-lg-6
        div.site-detail-label Subject Of:
    div.col-lg-6
        div.site-detail-data {{site.siteData.details.subjectOf}}
