.site-detail-title {
    font-size: 24px;
    color: @sn-red-brown;
    margin-top: 20px;
}

.site-detail-location {
    font-family: @font-family-base;
    font-size: 18px;
    font-style: italic;
    color: @sn-dark-blue;
}

.site-detail-location-content {
    font-family: @font-family-base;
    font-size: 16px;
}

.site-detail-date {
    font-size: 18px;
    color: @sn-green;
}

.inner {
    border: 2px solid @sn-dark-blue;
    padding: 10px
}

.site-detail-label {
    font-size: 16px;
    color: @sn-dark-brown;
    font-style: italic;
}

.site-detail-data {
    font-size: 16px;
    color: @text-color;
}

.bottom-padding {
    padding-bottom: 10px;
}

.top-padding {
    padding-top: 10px;
}
