.container
    .row
        .col-lg-7
            .row
                .col-lg-12
                    p.site-detail-title {{site.name.en}}
                    p.site-detail-location {{site.location.approximate}}, {{site.location.modernProvince}}
                    div(ng-show='site.datesVisited') #[p.site-detail-date #[span(ng-repeat='dateVisited in site.datesVisited') {{dateVisited | asDate | date : 'MMM yyyy' }}{{$last ? '' : ($index===sites.datesVisited.length-2) ? ' and ' : ', '}}]]
            .row
                .col-lg-12
                    div [IMAGE PLACEHOLDER]
        .col-lg-5.gutter-border
            <div ui-view='details-monastery' ng-show="site.type==='monastery'" />

            .row(ng-show='site.name.variations.length > 0')
                div.col-lg-6
                    div.site-detail-label Known Spelling Variations:
                div.col-lg-6
                    div.site-detail-data  #[span(ng-repeat='variation in site.name.variations') {{variation}}{{$last ? '' : ($index===sites.name.variations.length-2) ? ' and ' : ', '}}]
            .row(ng-show='site.extantRemains')
                div.col-lg-6
                    div.site-detail-label Any extant remains on site:
                div.col-lg-6
                    div.site-detail-data {{site.extantRemains ? 'Yes (may not date to the Norman period)' : 'No'}}

