navbar

header

.container
  .row
    .col-lg-12
      img.center-block(src='/assets/images/idrisi_map.png' popover-trigger='mouseenter' uib-popover-html='home.idrisiMapPopoverContent' popover-placement='right')

footer

