navbar

header

.container
    .row
        .col-lg-12
          div.text-center This page, which will ultimately host an interactive genealogy is under construction. Roger II, Sicily's first king, is the trunk.
          div.text-center Ancestor Chart for Roger II, King of Sicily (ca. 1095 - 1154)
          img.center-block(src='/assets/images/roger_ii_family_tree.png')

footer
